<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta name="description" content="Cake Factory Footer">
	<meta name="author" content="Clayton Bodine">
	<link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
	<link href="../../static/css/shop-homepage.css" rel="stylesheet" th:href="@{/css/shop-homepage.css}">
</head>

<body>
	<footer class="bg-dark footer" th:fragment="footer">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; The Cake
				Factory LTD 2020
			</p>
		</div>
	</footer>
</body>
</html>
