<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Cake Factory Account Page">
	<meta name="author" content="Clayton Bodine">
	<title>Cake Factory Account Page</title>
	<link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
	<link href="../../static/css/shop-homepage.css" rel="stylesheet" th:href="@{/css/shop-homepage.css}">
</head>

<body>
	<!-- Navigation -->
	<nav th:replace="fragments/header :: header"></nav>
	<div class="container">
		<div class="row">
			<h1 class="attention">Update your Cake Factory account here!</h1>
		</div>
		<div class="row">
			<form method="POST" action="#" th:action="@{/account}" th:object="${ACCOUNT}">
				<div class="two-column">
					<h2>Account Update</h2>
					<table th:replace="fragments/address :: address"></table>
				</div>
				<div class="row">
					<input class="register" type="submit" value="Update Your Account Information" />
				</div>
			</form>
		</div>
	</div>
	<!-- Footer -->
	<footer th:replace="fragments/footer :: footer"></footer>
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>