<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>The Cake Factory Login Page</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/shop-homepage.css" rel="stylesheet">

</head>

<body>
	<!-- Navigation -->
	<nav th:replace="fragments/header :: header"></nav>

	<!-- Page Content -->
	<div class="container">
		<h1>Login</h1>
		<img th:src="@{/images/cake-900x350-01.png}" />

		<div th:if="${error}">Unable to login. Check your username and
			password.</div>

		<p>
			New here? Click <a th:href="@{/register}">here</a> to register.
		</p>

		<!-- tag::thAction[] -->
		<form method="POST" th:action="@{/login}" id="loginForm">
			<!-- end::thAction[] -->
			<input type="hidden" name="_csrf" th:value="${_csrf.token}" /> <label
				for="username">Username: </label> <input type="text" name="username"
				id="username" /><br /> <label for="password">Password: </label> <input
				type="password" name="password" id="password" /><br /> <input
				type="submit" value="Login" />
		</form>
	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer th:replace="fragments/footer :: footer"></footer>
	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
