<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Cake Factory Basket for Customer">
	<meta name="author" content="Clayton Bodine">
	<title>Cake Factory Signup Page</title>
	<link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
	<link href="../../static/css/shop-homepage.css" rel="stylesheet" th:href="@{/css/shop-homepage.css}">
</head>

<body>
	<!-- Navigation -->
	<nav th:replace="fragments/header :: header"></nav>
	<div class="container">
		<div class="row">
			<h1 class="attention">Signup with the Cake Factory here!</h1>
		</div>
		<div class="row">
			<form method="POST" action="#" th:action="@{/register}"
				th:object="${register}">
				<div class="two-column">
					<h2>Login Information</h2>
					<table>
						<tr>
							<th><label for="email">Email: </label></th>
							<td><input type="text" th:field="*{email}" /></td>
						</tr>
						<tr>
							<th><label for="password">Password: </label></th>
							<td><input type="password" th:field="*{password}" /></td>
						</tr>
					</table>
				</div>
				<div class="two-column">
					<h2>Delivery Information</h2>
					<table th:replace="fragments/address :: address"></table>
					<!-- 
					<table>
						<tr>
							<th><label for="firstName">First Name: </label></th>
							<td><input type="text" th:field="*{firstName}" /></td>
						</tr>
						<tr>
							<th><label for="lastName">Last Name: </label></th>
							<td><input type="text" th:field="*{lastName}" /></td>
						</tr>
						<tr>
							<th><label for="street">Street: </label></th>
							<td><input type="text" th:field="*{street}" /></td>
						</tr>
						<tr>
							<th><label for="city">City: </label></th>
							<td><input type="text" th:field="*{city}" /></td>
						</tr>
						<tr>
							<th><label for="state">State: </label></th>
							<td><select name="state" id="state">
									<option value="alabama">Alabama</option>
									<option value="alaska">Alaska</option>
									<option value="arizona">Arizona</option>
									<option value="arkansas">Arkansas</option>
									<option value="california">California</option>
									<option value="colorado">Colorado</option>
									<option value="connecticut">Connecticut</option>
									<option value="delaware">Delaware</option>
									<option value="florida">Florida</option>
									<option value="georgia">Georgia</option>
									<option value="hawaii">Hawaii</option>
									<option value="idaho">Idaho</option>
									<option value="illinois">Illinois</option>
									<option value="indiana">Indiana</option>
									<option value="iowa">Iowa</option>
									<option value="kansas">Kansas</option>
									<option value="kentucky">Kentucky</option>
									<option value="louisiana">Louisiana</option>
									<option value="maine">Maine</option>
									<option value="maryland">Maryland</option>
									<option value="massachusetts">Massachusetts</option>
									<option value="michigan">Michigan</option>
									<option value="minnesota">Minnesota</option>
									<option value="mississippi">Mississippi</option>
									<option value="missouri">Missouri</option>
									<option value="montana">Montana</option>
									<option value="nebraska">Nebraska</option>
									<option value="nevada">Nevada</option>
									<option value="new hampshire">New Hampshire</option>
									<option value="new jersey">New Jersey</option>
									<option value="new mexico">New Mexico</option>
									<option value="new york">New York</option>
									<option value="north carolina">North Carolina</option>
									<option value="north dakota">North Dakota</option>
									<option value="ohio">Ohio</option>
									<option value="oklahoma">Oklahoma</option>
									<option value="oregon">Oregon</option>
									<option value="pennsylvania">Pennsylvania</option>
									<option value="rhode island">Rhode Island</option>
									<option value="south carolina">South Carolina</option>
									<option value="south dakota">South Dakota</option>
									<option value="tennessee">Tennessee</option>
									<option value="texas">Texas</option>
									<option value="utah">Utah</option>
									<option value="vermont">Vermont</option>
									<option value="virginia">Virginia</option>
									<option value="washington">Washington</option>
									<option value="west virginia">West Virginia</option>
									<option value="wisconsin">Wisconsin</option>
									<option value="wyoming">Wyoming</option>
							</select></td>
						</tr>
						<tr>
							<th><label for="zip">Zip Code: </label></th>
							<td><input type="text" th:field="*{zip}" /></td>
						</tr>
					</table>
					 -->
				</div>
				<div class="row">
					<input class="register" type="submit" value="Register" />
				</div>
			</form>
		</div>
	</div>
	<!-- Footer -->
	<footer th:replace="fragments/footer :: footer"></footer>
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>